<%- layout("../layouts/facultyBoilerplate") -%>
<head>
    <link rel="stylesheet" href="/styles/attendance.css">
</head>
<body>
    <div class="container">
        <h2>Modify Attendance for <%= new Date(date).toLocaleDateString() %></h2>
        <form id="modifyAttendanceForm" action="/faculty/modifyAttendance/<%= attendanceRecord._id %>" method="post">
            <input type="hidden" name="date" value="<%= date %>">
            <h3>Student Attendance</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>HT No</th>
                        <th>Student Name</th>
                        <th>Section/Batch</th>
                        <th>Present</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach((student, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= student.username %></td>
                            <td><%= student.name %></td>
                            <td><%= student.section.name %></td>
                            <td>
                                <input type="checkbox" name="attendance[<%= student._id %>]" value="true" <%= attendanceRecord.students.find(att => att.student.toString() === student._id.toString())?.status ? 'checked' : '' %>>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
