<%- layout("../layouts/facultyBoilerplate") -%>
<head>
    <link rel="stylesheet" href="/styles/attendance.css">
</head>
<body>
    <div class="container">
        <h2>View Attendance for <%= new Date(date).toLocaleDateString() %></h2>
        <h3>Student Attendance</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>HT No</th>
                    <th>Student Name</th>
                    <th>Section/Batch</th>
                    <th>Present</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach((student, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= student.username %></td>
                        <td><%= student.name %></td>
                        <td><%= student.section.name %></td>
                        <td>
                            <input type="checkbox" name="attendance[<%= student._id %>]" value="true" <% if (attendanceRecords.some(record => record.student.equals(student._id) && record.present)) { %>checked<% } %> disabled>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
