<% layout("../layouts/studentBoilerplate") -%>
<body class="courses-body">
    <div class="row">    
              <div class="container">
                <div class="course-details">
                    <h1><%=course.course%></h1>
                </div>
            </div>
              <div class="course-name">
                    <div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th class="col"scope="col">S.no</th>
                            <th class="col"scope="col">name</th>
                            <th class="col"scope="col">Roll no.</th>
                            <th class="col"scope="col">date</th>
                            <th class="col"scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% if (attendances && attendances.length > 0) { %>
                          <%attendances.forEach(function(attendance) {%>
                            <tr>
                                <td class="col-0.5"><%=++x%></td>
                                <td class="col-3"><%=attendance.name%></td>
                                <td class="col-3"><%=attendance.roll%></td>
                                <td class="col-3"><%=moment(attendance.date).format("DD-MM-YYYY")%></td>
                                <td class="col-1"><%=attendance.status%></td>
                              </tr>
                              <%})%>
                              <% } else { %>
                                <tr>
                                  <td colspan="5">No attendance data available.</td>
                                </tr>
                              <% } %>
                        </tbody>
                      </table>
                      </div>
              </div>
              <br>
</body>